*{
  margin: 0px;
  padding: 0px;
}
div{
  display: inline-block;
}
#pokemon{
  height: auto;
  width: 70%;
}
#pokedex{
  position: fixed;
  display: inline-block;
  height: 550px;
  width: 250px;
  vertical-align: top;
  border: 10px solid red;
}
.pokeSpace{
  margin-left: 40px;
}
