*{
  margin: 0px;
  padding: 0px;
}
div{
  display: inline-block;
}
#pokemon{
  height: 600px;
  width: 800px;
}
#pokedex{
  position: fixed;
  display: inline-block;
  height: 600px;
  width: 200px;
  vertical-align: top;
  border-top: 10px solid red;
  border-left: 10px solid red;
  border-right: 10px solid red;
  border-bottom: 20px solid red;
}
